body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:947px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:576px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:32px;
  width:324px;
  height:576px;
}
#u261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:68px;
  width:30px;
  height:40px;
}
#u262_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:55px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u263 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:68px;
  width:451px;
  height:55px;
}
#u263_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:431px;
  word-wrap:break-word;
}
